<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="/js/fileReader.js"></script>
</head>


<body>
    <div id="drop_area" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)"></div>
    <svg id="canvas" style="width:100%; height:100%; display:none"></svg>
    <!-- <div id="datatable"></div> -->
</body>

</html>