<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>

<body>
    <div id="area">
        <div id="file_info"><span>Name: test.txt</span><span>Size: 1234 bytes</span></div>
        <div id="viewer_area">
            <div id="chart_1"></div>
            <div id="chart_2"></div>
            <div id="chart_3"></div>
            <div id="chart_4"></div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <!-- <script src="/js/fileReader.js"></script> -->
    <script src="/js/fileReader.js"></script>
</body>


</html>